* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 1000px;
    margin-top: 200px;
    padding: 20px;
    background-color: rgba(135, 181, 224, 0.463);
}

.para {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgba(30, 60, 52, 0.164);
    background-image: url(hourglass-time-hours-sand-39396.webp);
    background-repeat: no-repeat;


}